{
	"server": {
		"port": 42420
	},

	"default-pages": {

	},

	"datasource": {
		"system-time": {
			"enabled": true,
			"format": "time"
		},
		"another-datasource": {
			"name": "value"
		}	
	},

	"keypress-rotation": ["current-time"]
}
